body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to left, green, black)
}
#principal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.letra{
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    margin: 5px;
    text-align: center;
    display: none;
    border-radius: 10px;
    outline: none;
    border: none;
}
.letraJ{
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    margin: 5px;
    text-align: center;
}
#letraJ{
    border-radius: 10px;
    outline: none;
    border: none;
}
.dvdisplay{
    display: block;
    
}
#dvForca{
    position: absolute;
    left: 150px;
}
#cabeca{
    position: absolute;
    top: 0px;
    left: 0px;
}
#corpo{
    position: absolute;
    top: 200px;
    left: 105px;
}
#bracoE{
    position: absolute;
    top: 220px;
    left: -17px;
}
#bracoD{
    position: absolute;
    top: 220px;
    left: 105px;
}
#pernaE{
    position: absolute;
    top: 450px;
    left: -66;
}
#pernaD{
    position: absolute;
    top: 450px;
    left: 105;
}
button{
    border-radius: 20px;
    background-image: linear-gradient(to left, white, rgb(190, 190, 190));
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    
}
button:hover{
    background-image: linear-gradient(to left, black, rgb(32, 32, 32));
    box-shadow: 0 0 0.8em rgb(22, 161, 52);
    color: white
    
}

#dvletrasdigitadas{
    color: white;
}


